/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: url("/gfx/binding_dark.png") repeat fixed 0 0 #DDDDDD;
  font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
  line-height: 1.8em;
}

h1 {
	font-size: 2.4em;
	line-height: 1.6em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.6em;
}

p { margin: 0.8em 0; }

p.indented {
	text-indent: 25px;
}

a { color: #B50000; text-decoration: none }
a:hover { color: #D60000; text-decoration: underline }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.clear {
	clear:both;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
	max-width: 900px;
	min-height: 300px;
	margin: 15px auto 0 auto;
	padding-bottom: 40px
}

.site {
	clear:both;
	text-align: justify;
	border-top: 10px solid #FFBA24;
	border-bottom: 10px solid #FFBA24;
	background-color: #FFFFFF;
}

.site h1, .site h2, .site h3, .site h4, .site h5, .site h6 {
	color: #333;
	font-weight: normal;
	font-family: "PT Sans","Georgia","Helvetica Neue",Arial,sans-serif;
}

.site .header {
	background: url('/gfx/cream_pixels.png');
	padding: 30px;
	border-bottom: solid 1px #ddd;
}

.site .header .title a {
	font-family: "PT Sans","Georgia","Helvetica Neue",Arial,sans-serif;
	text-decoration: none;
	color: #000;
}

.site .header .title {
	display: inline-block;
	font-size: 1.8em;
	font-weight: normal;
	margin: 0;
	float: left;
}

.social {
	float:right;
}
.social li {
	float: left;
	list-style: none;
}

.social li a {
    background-size: 32px;
    display:block;
    text-indent:-9999px;
	height:32px;
    width:32px;
}

.social li.twitter a {
	background-image:url(/icons/appbar.twitter.white.png);
}

.social li.github a {
	background-image:url(/icons/appbar.github.white.png);
}

.social li.linkedin a {
	background-image:url(/icons/appbar.linkedin.white.png);
}

.social li.rss a {
	background-image:url(/icons/appbar.rss.white.png);
}

.site .content {
  padding: 0 30px;
}

.site .content .post-title {
	margin: 0;
}

.site .content .post-title a {
	color: #333;
}

.site .content .post-title a:hover {
	color: #D60000;
}

.site .content .post-meta {
	color: #aaa;
	padding-bottom: 10px;
}

.site .content .post-meta .post-date {
	color: #555;
}

.site .content ul.tag_list {
	display: inline;
	list-style-type:none;
	margin:0;
	padding:0;
}

.site .content ul.tag_list  li {
	display:inline;
}

.site .footer {
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.site .wordcloud {
	height: 250px;
	margin: 10px auto;
	padding: 0;
	page-break-after: always;
	page-break-inside: avoid;
	width: 80%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
	padding: 20px 0;
	border-bottom: dashed 1px #aaa;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #F7F7F7;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #F7F7F7;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.pagination {
	padding: 20px 0;
	position: relative
}

.pagination .older {
	position: absolute;
	left: 0;
}

.pagination .newer {
	position: absolute;
	right: 0;
}

.about .gravatar {
	float: left;
	padding: 0 20px 20px 0;
}

.about p {
	clear: both;
}