/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: url("/gfx/bg.gif") repeat fixed 0 0 #DDDDDD;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
	margin-bottom: 1em;
	font-size: 2.2em;
}

h2 {
	margin-bottom: 0.8em;
	font-size: 1.8em;
}

p { margin: 1em 0; }

a         { color: #404040; }
a:hover   { color: #616161; }
a:visited { color: #404040; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 900px;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h2.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h2.title a {
  color: #404040;
}

.site .header h2.title a:hover {
  color: #616161;
}

.site .header .social {
	float:right;
}
.site .header .social li {
	float: left;
	list-style: none;
}

.site .header .social li a {
    background-size: 32px;
    display:block;
    text-indent:-9999px;
	height:32px;
    width:32px;
}

.site .header .social li.twitter a {
	background-image:url(/icons/appbar.twitter.png);
}

.site .header .social li.github a {
	background-image:url(/icons/appbar.github.png);
}

.site .header .social li.linkedin a {
	background-image:url(/icons/appbar.linkedin.png);
}

.site .header .social li.rss a {
	background-image:url(/icons/appbar.rss.png);
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #F7F7F7;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #F7F7F7;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
